/[Dd]esign/
/[Dd]ist/
/[Tt]emp/
/[Tt]mp/
/[Bb]uild/
/[Bb]ower_components/
/[Nn]ode_modules/
/[Rr]eference/
/[Rr]eferencia/
/[Aa]ntigo/
/offline/data
.tmp
.sass-cache
test/bower_components
build.zip

.DS_Store

/.idea/
cae.iml

src/scripts/auto-components.js
*auto-components.js
*auto-components.scss
.vs/slnx.sqlite
.vs/slnx.sqlite-journal
.vs/VSWorkspaceState.json
.vs/
